<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-in page</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
<body style="font-family: Arial, sans-serif;
            background-color: #799f78;">
<form th:action="@{/sign-in}" method="post">
    <main class="container align-center">
        <div class="row d-flex justify-content-evenly">
            <label for="inputUsername">Name</label>
            <input id="inputUsername" type="text"> <!-- th:field="*{username}"  placeholder="Enter your username">-->
        </div>
        <div class="row d-flex justify-content-evenly">
            <label for="inputPassword">Password</label>
            <input id="inputPassword" type="password" placeholder="Password">
        </div>
        <div class="row">
            <button type="submit" class="btn btn-dark">Login</button>
        </div>
    </main>
</form>
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>